<ion-header>
  <ion-toolbar>
    <ion-title>VEHICULOS DISPONIBLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/img/LOGODUOC.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <div class="titulo">Bienvenidos a TellevoAPP
    <ion-icon name="contact"></ion-icon>
</div>

<ion-label  >VEHICULOS NO DISPONIBLES </ion-label><br><br>

<ion-card-content>
  <ion-img src="assets/img/tellevo.png"  expand="full"></ion-img>
</ion-card-content>

</ion-content>
