<ion-header>
  <ion-toolbar>
    <ion-title>MENU PRINCIPAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/img/LOGODUOC.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <div class="titulo">Bienvenido ("Nombre de usuario")
    <ion-icon name="contact"></ion-icon>
</div>
<ion-label    >Alumnos que cuentan con movilizacion propia: </ion-label>
<ion-button color="primary" routerLink="/pagina6">Programar viaje</ion-button>

<ion-label  >Alumnos que no cuentan con movilización propia </ion-label>
<ion-button color="primary" routerLink="/pagina6">Vehiculos  cerca</ion-button>

<ion-button color="primary" routerLink="/home">CERRAR SESION</ion-button>

</ion-content>
