
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            PAGINA PRINCIPAL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-card>
        <ion-card-content>
          <ion-img src="assets/img/LOGODUOC.png"></ion-img>
        </ion-card-content>
      </ion-card>
    <div class="titulo">Bienvenidos a TellevoAPP
        <ion-icon name="contact"></ion-icon>
    </div>
    
    <div class="contenido" ></div>
    <form [formGroup]="persona" (ngSubmit)="grabar()">
        
        <ion-item>
            <ion-label   position="floating" >Ingresar nombre de usuario: </ion-label>
            <ion-input formControlName="nombre"></ion-input>

        </ion-item>
        <ion-item>
            <ion-label position="floating">Ingresar contraseña: </ion-label>
            <ion-input formControlName="contraseña"></ion-input>
            


        </ion-item>
        <br>
        <ion-button color="tertiary" routerLink="/pagina3">Registro</ion-button>
        <ion-button color="tertiary" routerLink="/pagina5">Iniciar sesion</ion-button><br><br>
        <ion-button color="tertiary" routerLink="/pagina7" expand="full">Recuperar contraseña</ion-button>

    </form>
    
        <ion-card-content>
          <ion-img src="assets/img/a.png"></ion-img>
        </ion-card-content>
     

   
</ion-content>