<ion-header>
  <ion-toolbar>
    <ion-title>SOLICITAR VIAJE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img src="assets/img/LOGODUOC.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <div class="titulo">Bienvenidos a TellevoAPP
    <ion-icon name="contact"></ion-icon>
</div>

<ion-button color="tertiary" expand="full" routerLink="/pagina9" >Ver disponibilidad de vehiculos</ion-button>




<div class = "titu"><b>Puntos de encuentro </b></div>

  <ion-list>
    <ion-item>
      <ion-label>San Carlos - Av.Concha y Toro #123</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Av.Concha y Toro - Independencia #12</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Av.Concha y Toro - Domingo Tocornal #34</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tottus - San Carlos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estacionamiento Municipalidad Puente Alto</ion-label>
    </ion-item>
  </ion-list>

  <ion-button color="tertiary" routerLink="/pagina5">Atras</ion-button>

</ion-content>
